    /*======================
            Main Styles 
        ==================== */


    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        list-style-type: none;
        text-decoration: none;
    }

    header {
        font-family: 'Roboto', sans-serif;
        width: 100%;
        height: 880px;
        background-color: rgb(244, 244, 244);
    }

    .head-wrapper {
        width: 90%;
        margin: 0 auto;
        min-width: 320px;
        max-width: 500px;
    }

    h1.name {
        text-align: center;
        margin: 0 auto 1em auto;
        padding: 1.5em 1em 0 1em;
    }

    main {
        font-family: 'Roboto', sans-serif;
    }

    main h3 {
        text-transform: uppercase;
        text-align: center;
        margin: 3em;
    }



    /*======================
      Main Navigation Styles 
        ===================== */

    .main-nav {
        width: 100%;
        height: 10.5em;
    }
    
    .main-nav li {
        width: 90%;
        margin: 0 auto .5em auto;
        text-align: center;
        font-weight: 700;
        text-transform: uppercase;
    
        
}


    .link {
        color: #000;
        display: block;
        height: 3em;
        padding: 1em 0;
        background-color: #fff;
        border-radius: 20px;
    }

    header p {
        color: rgb(155, 150, 150);
        padding: 1em;
        text-align: center;
        width: 78%;
        margin: auto;
        line-height: 1.4;
    }




    /*======================
            Image Card Styles 
        ==================== */

    .profile-img {
        display: block;
        width: 75%;
        height: 13em;
        margin: 7em auto 1em auto;
        border-radius: 15px;
}

    .card img {
        display: block;
        width: 85%;
        height: 13em;
        margin: 0 auto;
        max-width: 500px;
        border-radius: 15px;
}

    .card {
        text-align: center;
    
}

    .card h2 {
        margin: 1.5em auto;
        color: rgb(112, 109, 109);
    }

    .card p {
        width: 80%;
        margin: 0 auto 1.5em auto;
        line-height: 1.4;
        color: rgb(155, 150, 150);
    }




    /*======================
            Footer Styles 
        ==================== */

    footer {
        font-family: 'Alegreya', serif;
        height: 650px;
        text-align: center;
        line-height: 1.6;
    }

    div {
        background-color: rgb(244, 244, 244);
        width: 100%;
        height: 500px;
    }


    footer h3 {
        padding-top: 3em;
        margin: 0 auto 2em auto;
        text-transform: uppercase;
    }

    .footer-wrapper > p {
        width: 90%;
        margin: auto;
    }

    footer p:nth-of-type(2),
    footer p:nth-of-type(3) {
        width: 80%;
        margin: 2em auto 0 auto;
    }

    hr {
        width: 90%;
        margin: 4em auto 1.5em auto;
        opacity: .3;
    }

    div.hidden p:nth-of-type(2) a {
        color: #000;
    }

    div.hidden p:nth-of-type(1) {
        width: 45%;
        float: left;
        margin: 1em 0 2em .5em;
        display: inline-block;
        font-weight: 900;
    }

    div.hidden p:nth-of-type(2) {
        width: 40%;
        float: right;
        margin: 1em 0 2em 0;
        display: inline-block;
        font-weight: 900;
        text-transform: uppercase;
    }


    .hidden {
        width: 100%;
        height: 6em;
        float: right;
        margin: 2em 0 2em 0em;
        /* padding: .5em; */
    }


    .hidden-1 {
        display: none;
        width: 100%;
        height: 3em;
        margin: 0;
    }

    .footer-nav {
        display: inline-block;
        margin-right: 0;
        /* width: 57%; */
        max-width: 24.63em;
        height: 3em;
        float: right;
        padding-right: .5em;

    }

    .footer-nav li:nth-of-type(1) {
        /* width: 20vw; */
        float: left;
      
    }

    .hidden-1 p {
        width: 30%;
        display: inline-block;
        float: left;
        margin-right: calc(5vw + 5vw);
    }


    .name1 {
        font-weight: 900;
        color: #000;
        display: inline-block;
        padding: .7em .3em;
        height: 3em;
        margin-left: -2em;
    }
    
    .footer-nav li:nth-of-type(1),
    .footer-nav li:nth-of-type(2),
    .footer-nav li:nth-of-type(3),
    .footer-nav li:nth-of-type(4) {
        float: left;
        /* width: 20%; */
    }

    .footer-nav li:nth-of-type(1),
    .footer-nav li:nth-of-type(2),
    .footer-nav li:nth-of-type(3),
    .footer-nav li:nth-of-type(4) { 
        display: inline-block;
        text-transform: uppercase;
        font-weight: 900;
        color: #000;
    
    } 


    .link1 {
        color: #000;
        display: block;
        height: 3em;
        width: 6em;
        padding: .7em 0;
        border-radius: 20px;
    }


    /*======================
        Media Queries
    ==================== */

    @media (min-width: 768px) {
        
        .head-wrapper {
            width: 90%;
            margin: 0 auto;
            max-width: 800px;
        }
        

        header {
            height: 500px;
        }

        .main-nav {
            width: 75%;
            height: 3em;
            margin: 0 auto;
        }

        .main-nav li {
            margin: 0;
            width: 24.2%;
            display: inline-block;
            border: none;
        }

        .link {
            float: left;
            display: inline-block;
            width: 100%;
            background-color: rgb(244, 244, 244);
        }

        .profile-img {
            display: inline-block;
            width: 45%;
            float: right;
            margin: 5em 2em 0 0;
        }

        header p {
            display: inline-block;
            float: left;
            width: 40%;
            margin: 4em 0 0 2em;
            text-align: left;
            line-height: 1.6;
        }

        /*======================
            Styles for Middle Page
            ==================== */

        .main-wrapper {
            width: 80%;
            margin: 0 auto 3em auto;
            height: 1800px;
        }

        .card {
            width: 48%;
            display: inline-block;
        }

        #skills {
            float: none;
            display: block;
            margin: 1em auto;
        }

        .card img {
            margin: 0;
            width: 100%;
        }

        .card:nth-of-type(odd) {
            float: left;
            margin-right: 1em;
        }

        .card h2 {
            margin-bottom: 1em;
        }


        /*======================
            Styles for Footer
            ==================== */

        div {
            height: 450px;
        }

        footer {
            width: 90%;
            margin: 0 auto;
            height: 500px;
        }

        .hidden-1 {
            display: block;
            width: 100%;
            font-size: 1em;
        }

        .hidden {
            display: none;
        }

        hr {
            margin-bottom: .5em;
        }
    }



    @media (min-width: 1024px) {
        /*======================
        Styles for Header
        ==================== */

        header {
            height: 400px;
            width: 100%;
            margin: 0;
        }

        .head-wrapper {
            width: 100%;
            height: 400px;
            max-width: 100%;
        }

        h1.name {
            float: left;
            margin: 0 0 0 1em;
        }

        .main-nav {
            float: right;
            padding: 1.5em 0 0 1em;
            margin: 1em 1em 0 6em;
            height: 3em;
            width: 40%;
        }

        .profile-img {
            width: 40%;
            height: 14em;
            margin-top: 4em;
        }
        
        header p {
            padding: 0 0 0 1.5em;
            width: 45%;
            margin-right: 1em;
        }

        /*======================
        Styles for Middle Page
        ==================== */

        .main-wrapper {
            width:100%;
            height: 1500px;
            border: 1em solid rgb(244, 244, 244);
            margin-bottom:0;
            padding-bottom: 4em;
        }


        .card {
            width: 30.5%;
        }

        .card-2,
        .card-4 {
            float: left;
        }

        .card-3,
        .card-5 {
            margin-left: 1em;
        }

        .card-1,
        .card-4 {
            margin-left: 1.5em;
        }




        /*======================
        Styles for Footer
        ==================== */

        footer {
            width: 100%;
        }

        div.footer-wrapper {
            height: 27.56em;
        }

        .footer-wrapper > p {
            width: 50%;
        }

        .footer-wrapper p:nth-of-type(3) {
            margin-top: 1em;
        }

        .hidden-1 p {
            width: 20%;
            margin-left: 1.5em;
        }
    }




    /*======================
        Hover Effects
    ==================== */

    .link:hover,
    .link1:hover {
        background-color: orange;
        color: #fff;
    }
